include layout 

div(class='info-sec')
  h1= burger.name
  h3 ingredients:
  for i in burger.ingredients 
    div=i
div(class='info-sec')
  h3 Update Burger?
div(class='form-container')
  form(method="post" action=`${burger.url}/update`)
    label(for="name") Name:
    input(type="text", name="name")
    label(for="breadType") Bread: 
    select(name="breadType")
      option(value="sesame") Sesame bun
      option(value="brioche") Brioche bun
      option(value="potato") Potato Bun 
    button submit
    a(href=`${burger.url}/delete` class='del-button') Delete this burger